.clock {
    background: #333333;
    width: 400px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.clock-time,
.clock-ampm{
    font-family: 'Concert One', cursive;
    font-size: 30px;
    color: #eeeeeeee;
}

.clock-time {
    font-size: 48px;
}